main form fieldset {
  font-family: "Playfair Display", serif;
  font-weight: 17px;
  font-size: 19px;
  text-align: center;
  background-color: antiquewhite;
}
main form fieldset h1 {
  text-align: left;
  font-family: "Playfair Display", serif;
}
