.tips-cuidados_h3 {
  font-size: 25px;
  font-weight: 400px;
}
.img-flora {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.img-tips-cuidados {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
