/*aplique mixin*/
@mixin h4 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  margin-top: 5px;
}
@mixin img {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*h1*/
div {
  .h1-proyectos {
    @include h1;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

/*proyecto-hall*/
.proyecto-hall-pilar h4 {
  @include h4;
}
.img-hall {
  @include img;
}
/*proyecto-oficina*/
.proyecto-oficina-pilar h4 {
  @include h4;
}
.img-oficinas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*proyecto-huerta-nordelta*/
.proyecto-huerta-nordelta h4 {
  @include h4;
  font-weight: 900px;
}
.img-huerta {
  @include img;
}
/*proyecto-paseoMendoza*/
.proyecto-paseoMendoza-momentovinito h4 {
  @include h4;
  font-weight: 900px;
}
.img-paseoMendoza {
  @include img;
}
