//google font//
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
//variables//
$txt: "Lora", serif;
$tipografia: "EB Garamond", serif;
$bg-color: #5ba67b;
$bg-h1: rgb(243, 219, 182);
$gradiente: radial-gradient(
  circle,
  rgba(235, 158, 192, 1) 0%,
  rgba(247, 178, 202, 1) 50%,
  rgba(242, 205, 242, 1) 100%
);
