@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
.carrusel-de-imagen {
  display: none;
}

div .h1-index {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 200;
  background-color: rgb(243, 219, 182);
  margin-bottom: 0%;
}

/*con nesting*/
#flex-inicio {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}
#flex-inicio .nosotros- {
  text-align: left;
  display: inline;
  font-size: 25px;
  width: 200px;
  /*height: 200px;*/
  overflow: auto;
  font-family: "EB Garamond", serif;
}
#flex-inicio .donde-nos-encontramos {
  text-align: left;
  display: inline;
  font-size: 25px;
  width: 240px;
  height: 340px;
  overflow: auto;
  font-family: "EB Garamond", serif;
}
#flex-inicio .mesa-exterior {
  text-align: center;
}
#flex-inicio .nuestro-trabajo {
  text-align: right;
  display: inline;
  font-size: 25px;
  width: 250px;
  height: 340px;
  overflow: auto;
  font-family: "EB Garamond", serif;
}

/*nesting*/
div .h1-nosotros {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 200;
  background-color: rgb(243, 219, 182);
  margin-bottom: 0%;
}

#divnosotros {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
#divnosotros .sectionNosotros {
  text-align: left;
  display: inline-block;
  font-size: 50px;
  width: 340px;
  height: 240px;
  padding-left: 10px;
  font-family: "EB Garamond", serif;
}
#divnosotros h5 {
  font-size: 30px;
  font-weight: 100x;
}
#divnosotros .img_maceta_1 {
  padding-top: 20px;
}
#divnosotros .sectionDondeNosEncontramos {
  text-align: right;
  display: inline-block;
  font-size: 50px;
  width: 250px;
  height: 340px;
  /*overflow: auto;*/
  font-family: "EB Garamond", serif;
}
#divnosotros h5 {
  font-size: 25px;
  font-weight: 100x;
}

/*aplique mixin*/
/*h1*/
div .h1-proyectos {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 200;
  background-color: rgb(243, 219, 182);
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/*proyecto-hall*/
.proyecto-hall-pilar h4 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  margin-top: 5px;
}

.img-hall {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*proyecto-oficina*/
.proyecto-oficina-pilar h4 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  margin-top: 5px;
}

.img-oficinas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*proyecto-huerta-nordelta*/
.proyecto-huerta-nordelta h4 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  margin-top: 5px;
  font-weight: 900px;
}

.img-huerta {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*proyecto-paseoMendoza*/
.proyecto-paseoMendoza-momentovinito h4 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
  margin-top: 5px;
  font-weight: 900px;
}

.img-paseoMendoza {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*solo se pudo aplicar variables*/
.img_disenio_paisajismo_con_macetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  justify-items: center;
  margin-bottom: 10px;
  background-color: rgb(243, 219, 182);
}

main .h1 {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 200;
  background-color: rgb(243, 219, 182);
  margin-bottom: 0%;
  padding-bottom: 8px;
}

/*aplique variables*/
div .h1-mantenimiento {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 200;
  background-color: rgb(243, 219, 182);
  margin-bottom: 0%;
  margin-bottom: 2%;
}

.tips-cuidados_h3 {
  font-size: 28px;
  font-weight: 400px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.img-flora {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.img-tips-cuidados {
  display: flex;
  justify-content: space-evenly;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*nesting*/
main form fieldset {
  font-family: "EB Garamond", serif;
  font-weight: 17px;
  font-size: 19px;
  text-align: center;
  background-color: antiquewhite;
}
main form fieldset h1 {
  text-align: left;
  font-family: "EB Garamond", serif;
}

/*reset por default*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  /*font-family: var(--bs-body-font-family);*/
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*banner de inicio*/
header {
  display: grid;
  padding: 25px 50px;
  background-color: #5ba67b;
  width: 100%;
  height: 140px;
  font-family: "Lora", serif;
  gap: 10px;
}
header ul li {
  list-style: none;
  display: inline;
  position: relative;
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 300px;
  padding: 10px 10px;
  margin: 10px 0px;
  min-width: 170px;
  display: inline-block;
  text-align: center;
}
header .bg-secondary-subtle {
  background-color: #5ba67b !important;
}
header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-family: "Lora", serif;
  font-size: 20px;
}
header .dropdown-menu li a:hover {
  background-color: #5ba67b;
}
header ul li:hover ul {
  display: block; /*visible con el mouse hover*/
}
header ul li a {
  font-size: 20 px;
  font-weight: 300px;
  text-align: left;
  font-family: "Lora", serif;
}

/*footer*/
.pie_de_pagina {
  background-image: url(../img/Tulipanes.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  font-size: 20px;
  color: antiquewhite; /*aplica para el mail*/
  text-align: center;
}
.pie_de_pagina .li {
  list-style: none;
  display: block;
  font-family: "Lora", serif;
  padding-right: 5px;
  margin-bottom: 0%;
}
.pie_de_pagina .img {
  text-align: center;
  display: inline;
  padding-right: 5px;
}
.pie_de_pagina .a {
  text-decoration: none;
  color: antiquewhite; /*aplica para ig y fb*/
  font-size: 20px;
  border: none;
  font-family: "Lora", serif;
}

.pie_de_pagina ul {
  margin-bottom: 0%;
}

@media (max-width: 768px) {
  /*inicio-index*/
  #flex-inicio {
    flex-direction: column;
  }
  .carrusel-de-imagen {
    display: block;
  }
  .carrusel-de-imagen-2 {
    display: none;
  }
  /*nosotros*/
  .sectionNosotros h5 fieldset {
    text-align: center;
  }
  .sectionDondeNosEncontramos h5 fieldset {
    text-align: center;
  }
  #divnosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img_maceta_1 {
    align-content: center;
    top: 10px;
  }
  /*proyectos*/
  .proyecto-hall-pilar h4 {
    text-align: center;
  }
  .img-hall {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  .proyecto-oficina-pilar h4 {
    text-align: center;
  }
  .img-oficinas {
    grid-template-columns: 1fr;
  }
  .proyecto-huerta-nordelta h4 {
    text-align: center;
  }
  .img-huerta {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  .proyecto-paseoMendoza-momentovinito h4 {
    text-align: center;
  }
  .img-paseoMendoza {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  /*contactanos*/
  .Formulario_de_contacto {
    display: flex;
    flex-direction: column;
  }
  /*diseño de paisajismo con macetas*/
  .img_disenio_paisajismo_con_macetas {
    grid-template-columns: auto;
  }
  /*mantenimiento de plantas*/
  .img-flora {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  .img-tips-cuidados {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  /*footer*/
  .pie_de_pagina {
    background-image: url(../img/macetas-flores.jpeg);
    width: 100%;
  }
  .pie_de_pagina .li {
    text-align: center;
    padding-right: 0px;
  }
  .pie_de_pagina .li-mail {
    font-size: 19px;
  }
}/*# sourceMappingURL=main.css.map */